# NOTE may not need all of these globally; depends on project

# * Neovim
# support for python plugins in nvim
pynvim

# * Linting (for flycheck)
# error (included with server[all])
pyflakes

# style; previously called pep8 (included with serever[all])
pycodestyle

# docstring style (included with serever[all])
pydocstyle

# complexity checking (included with server[all])
mccabe

# wraps pyflakes, pycodestyle, and mccabe
flake8

# even more warnings
pylint

# * Type Hint Checking (for flycheck)
mypy

# * Formatting
# (TODO needed? what does pyright have?)

# sort imports
isort

# remove unused variables and imports
autoflake

# for apheleia
# less configurable than yapf; deterministic
black

# * Repl
ptpython

# * Virtual Environments
virtualenv
virtualenvwrapper

# * Testing
pytest

# * Debugging
ptvsd

# * Other for importmagic.el: resolve unimported symbols; probably no longer
# needed with pyright
epc
importmagic

# Local Variables:
# mode: conf
# End:
